<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>客户列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <style type="text/css">
        .layui-form-label {
            text-align: left;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" id="real_name" placeholder="请输入客户姓名"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-row">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
            <input type="text" id="mobile" placeholder="请输入客户电话"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-row">
        <p class="layui-word-aux">在上方输入框内输入搜索内容,然后点击搜索</p>
    </div>
    <div class="layui-row">
        <div class="layui-col-md2">

            <button id="search" class="layui-btn">搜索</button>
            <button id="refresh" class="layui-btn">刷新</button>
        </div>
        <div class="layui-col-md2 layui-col-md-offset8">
            <button id="insert" class="layui-btn" style="float: right">新增客户</button>
        </div>
    </div>


    <table id="customer-table" lay-filter="test"></table>

    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/define/common.js"></script>
    <script type="text/html" id="operBar">
        <a class="layui-btn layui-btn-mini" lay-event="detail">详情</a>
        <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
    </script>
    <script>
        var customerTable;
        layui.use('table', function () {
            var $ = layui.jquery;
            var table = layui.table;
            customerTable = table.render({ //其它参数在此省略
                elem: "#customer-table",
                url: "/index.php/customer/lists",
                page: true,
                limit: 20, //默认采用20
                even: true,
                cols: [[ //标题栏
                    {
                        field: 'id',
                        title: 'ID',
                        width: 50
                    }, {
                        field: 'real_name',
                        title: '姓名',
                        width: 100
                    }, {
                        field: 'mobile',
                        title: '电话',
                        width: 120
                    }, {
                        field: 'extra',
                        title: '备注',
                        width: 280
                    }, {
                        field: 'create_date',
                        title: '创建时间',
                        width: 180
                    }, {
                        field: 'update_date',
                        title: '更新时间',
                        width: 180
                    }, {
                        fixed: 'right',
                        title: '操作',
                        width: 150,
                        align: 'center',
                        toolbar: '#operBar'
                    }]]
            });
            $("#insert").click(function () {
                layer.open({
                    type: 2,
                    skin: 'layui-layer-molv', //默认皮肤,
                    maxmin: true,
                    shade: 0.5,
                    fix: false,
                    area: ['1000px', '600px'],
                    content: '/index.php/pages/customer/insert' //url
                });
            });
            $("#search").click(function () {
                customerTable.reload({
                    where: { //设定异步数据接口的参数
                        "mobile": $("#mobile").val(),
                        "real_name": $("#real_name").val()
                    }
                });
            });
            $("#refresh").click(function () {
                customerTable.reload({
                    where: {}
                });
            });
            //监听工具条
            table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'detail') { //查看
                    layer.alert(data.extra);
                } else if (layEvent === 'del') { //删除
                    layer.confirm('确认删除吗?', function (index) {
                        var loading = layer.load(1, {
                            shade: [0.1, '#fff']
                        });
                        $.post("/index.php/customer/delete", {id: data.id}).success(
                            function (data) {
                                layer.msg("删除成功");
                                if (data == 1) {
                                    obj.del(); //删除对应行（tr）的DOM结构
                                    layer.close(index);
                                } else {
                                    layer.msg("删除失败");
                                }

                            }).error(function () {
                            layer.msg('发送请求失败');
                        }).complete(function () {
                            layer.close(loading);
                        });
                    });
                } else if (layEvent === 'edit') { //编辑
                    layer.open({
                        type: 2,
                        skin: 'layui-layer-molv', //默认皮肤,
                        maxmin: true,
                        shade: 0.5,
                        fix: false,
                        area: ['1000px', '600px'],
                        content: '/index.php/pages/customer/update?id=' + data.id //url
                    });
                }
            });

        });

        var reload = function () {
            customerTable.reload({});
        }
    </script>
</body>
</html>