@charset "utf-8";

.layui-nav-child .layui-icon {text-align: center;width: 28px;display: block;float: left;}

.layui-table-cell {
  height: inherit;
}

#tabContainers iframe {
  width: 100%;
  border: none; }
