<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>客户列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <style type="text/css">
        .layui-form-label {
            text-align: left;
        }
    </style>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-input-block"></div>
    </div>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">客户信息</label>
            <div class="layui-input-inline">
                <select id="customer-select" name="customer"></select>
            </div>
            <div class="layui-form-mid layui-word-aux">不选则记为临时客户</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品信息</label>
            <div class="layui-input-block">
                <div class="layui-col-md6">
                    <input type="text" name="received" required lay-verify="required"
                           placeholder="请输入商品信息" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-col-md2">
                    <input type="text" name="received" required
                           lay-verify="required|number" placeholder="数量" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-col-md2">
                    <input type="text" name="received" required
                           lay-verify="required|number" placeholder="金额" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-col-md2">
                    <button class="layui-btn">新增一条</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">需付款</label>
            <div class="layui-input-inline">
                <input type="text" name="payable" required
                       lay-verify="required|number" placeholder="请输入账单总额"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">必填</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">已付款</label>
            <div class="layui-input-inline">
                <input type="text" name="received" required
                       lay-verify="required|number" placeholder="请输入已收款额"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">必填</div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="extra" placeholder="请输入备注信息" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;
        var $ = layui.jquery;
        var tempVar = '',isInitSelect=false;

        var renderOption = function (inputVal) {
            $.get("/index.php/customer/select_list", {'real_name': inputVal}).success(function (data) {
                var  option = '<option value="">输入搜索或直接选择</option>';//占位(第一个option的value=''
                var anim='';
                $.each(data, function () {
                    option += '<option value=' + this.id + '>' + this.real_name + '</option>';
                    anim += '<dd lay-value=' + this.id + '>' + this.real_name + '</dd>';
                });
                if(data==''||data.length==0){
                    anim='<dd lay-value="" class="layui-select-tips">无匹配数据</dd>';
                }
                $('#customer-select').html(
                    option
                );
                if (!isInitSelect) {//如果没有初始化过
                    form.render('select');
                    $('.layui-select-title input').removeAttr("readonly");
                    $('.layui-select-title input').on('input', function () {
                        tempVar = $(this).val();
                        console.log('1111输入框内容变化=' + tempVar);
                        renderOption(tempVar);
                    });
                    isInitSelect=true;
                } else {
                    $('dl.layui-anim').html(anim);
                }


            }).error(function () {
                layer.msg('发送请求失败');
            }).complete(function () {

            });
        }
        //监听下拉选择
        //            form.on('select(customer-select-filter)', function(data){
        //                console.log(data.elem); //得到select原始DOM对象
        //                console.log(data.value); //得到被选中的值
        //                console.log(data.othis); //得到美化后的DOM对象
        //            });

        //初始化下拉选择
        renderOption(tempVar);

        //监听提交
        form.on('submit(formDemo)', function (data) {
            var loading = layer.load(1, {
                shade: [0.1, '#fff']
                //0.1透明度的白色背景
            });
            $.post("index.php/bill/insert", data.field).success(function () {
                parent.reload(); //重载表格
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index);
            }).error(function () {
                layer.msg('发送请求失败');
            }).complete(function () {
                layer.close(loading);
                console.log("complete");
            });
            return false;
        });

    });
</script>
</body>
</html>